body {
    margin: 0;
    padding: 2vw;
    background-color: black;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    border: 0.5vw double rgba(239, 255, 74, 0.79);
    border-width: 0.5vw 0;
    font-size: 3.5vw;
    padding: 0.5vw 0 0.65vw;
    margin: 3vw;
    text-shadow: 0 0 4vw rgba(255, 255, 255, 0.5);
    background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
    text-align: center;
}

.video {
    border: 0.1vw solid rgb(166, 183, 73);
    border-radius: 1vw;
    padding: 2vw;
    background: linear-gradient(33deg, #000000, #910909, #cdc994);
}

.titulo {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    color: #fffcfc;
    font-size: 1.5vw;
}

.sinopsis {
    color: #c5ba24d9;
    font-size: 1.2vw;
    text-align: justify;
}

iframe {
    width: 100%; /* Hace que el iframe se ajuste al 100% del contenedor */
    height: 250px; /* Hace que la altura del iframe se ajuste automáticamente según el ancho */
}
