body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

h1{
    margin: 20px;
    padding: 20px;
    text-align: center;
    font-family: cursive;
    font-size: 50px;
    color: rgb(221, 15, 56);
    

}
p{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    margin: 20px 80px;
}


.container-video{
    display: flex;
    justify-content: center;
    margin: 25px;
   
}

.container-video iframe{
    width: 50%;
    height: 500px;
    border:10px solid yellow;
    border-radius: 10px;
}

